.marker {
  position: absolute;
  /*left: 50%;*/
  /*600 400*/
  /*top: 50%;*/
  z-index: 99999;
  top: 200px;
  left: 300px;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                   supported by Chrome, Edge, Opera and Firefox */

}
